demos/src/main/mule/demos.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="14b8c269-9e2b-4eb5-8e1b-9be68088fc8b" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="demosFlow" doc:id="870dfe7b-b972-420d-8c61-93eaea9bbe62" >
		<http:listener doc:name="Listener" doc:id="5fb84c05-d769-4609-b6b9-d41abada8391" config-ref="HTTP_Listener_config" path="/"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="8ad54cf1-fb3a-4586-ba9a-5ba89094eba7" />
	</flow>
</mule>
